<div class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">SPORT STORE</a>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-3 p-1">
      <button (click)="getCategory(null)" class="btn btn-block btn-outline-primary">
      Home
      </button>
      
      <ng-container *ngFor="let item of categories">
        <button (click)="getCategory(item)" class="btn btn-block btn-outline-primary">
          {{item}}
          </button>
      </ng-container>

      <button routerLink="/login" class="btn btn-block btn-danger mt-3">
        Admin
      </button>
    
    </div>

    <div class="col-9 p-1">
      <!-- <ng-container *ngFor="let product of productList"> -->
      <ng-container *ngFor="let product of getProduct()">
      <div class="card card-outline-primary">
        <h4 class="card-header">
          {{product.name}}
          <span class="float-right badge badge-pill badge-primary">  {{product.price}}$</span>
        </h4>
        <div class="card-text p-1">
          {{product.description}}
          <button (click)="addToCart(product)" class="btn btn-success btn-sm float-right">
            Add to card
          </button>
        </div>
      </div>
    </ng-container>
    <div class="text-center">
    <hr>
    <button (click)="getProduct()" type="button" class="btn btn-info">Next products</button>
    <hr>
    </div>
  </div>
</div>
