<div class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">SPORT STORE</a>
    <div class="text-right text-white bg-dark">
      <ng-container *ngIf="getCartProducts() > 0">
        <p>{{orderCount}} товара(ов)
        <i (click)="getCartProducts()" class="material-icons md-48">
          shopping_cart
        </i>
        </p>
    </ng-container>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-3 p-1">
      <button [ngClass]="{'active': getCurrentCategory()==null }" (click)="setCurrentCategory(null)" class="btn btn-block btn-outline-primary">
       Home
      </button>
      
      <ng-container *ngFor="let item of categories">
        <button [ngClass]="{'active': getCurrentCategory()==item }" (click)="setCurrentCategory(item)" class="btn btn-block btn-outline-primary">
          {{item}}
          </button>
      </ng-container>

      <button routerLink="/login" class="btn btn-block btn-danger mt-3">
        Admin
      </button>
    </div>

    <div class="col-9 p-1">
      <ng-container *ngFor="let product of getProduct()">
      <div class="card card-outline-primary">
        <h4 class="card-header">
          {{product.name}}
          <span class="float-right badge badge-pill badge-primary">{{product.price}}$</span>
        </h4>
        <div class="card-text p-1">
          {{product.description}}
          <button (click)="addToCart(product)" class="btn btn-success btn-sm float-right">
            Add to card
          </button>
        </div>
      </div>
    </ng-container>
    <div [formGroup]="form" class="mt-2 float-left">
      <select formControlName="name" (change)="changeItem()" [value]="4" class="form-control">
        <option value="4">4 per Page</option>
        <option value="5">5 per Page</option>
        <option value="6">6 per Page</option>
      </select>
    </div>
    <div class="mt-2 float-right">
        <ul class="pagination pagination">
          <ng-container *ngFor="let item of getPaginationPageCount()">
            <li class="page-item" [ngClass]="{'active': getCurrentPage()==item }" (click)="getProduct(item);">
              <a class="page-link">{{item}}</a>
            </li>
          </ng-container> 
        </ul>
    </div>
  </div>
</div>
